@font-face {
    font-family: 'heldRI';
    src: url('./heldustryftregularitalic-webfont.eot');
    src: url('./heldustryftregularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./heldustryftregularitalic-webfont.woff') format('woff'),
         url('./heldustryftregularitalic-webfont.ttf') format('truetype'),
         url('./heldustryftregularitalic-webfont.svg#heldustryft_regular_italicRg') format('svg');
    font-weight: normal;
    font-style: normal;
}